@tailwind base;
@tailwind components;
@tailwind utilities;

.single-product-hr{
  background-color: yellow;
  max-width: 100%;
  width: 70%;
}
.btn{
    
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    background-color : #ffb524;
    font-weight: 400;
    color: #fff;
}
.btn:hover{
  background-color : #ffb524;
  color: #fff;
}
.btn:active{
  background-color : #ffb524;
  color: #fff;
}
.text-color{
  color: #ffb524;
}
.main-hero-container{
  /* background-image:url(../images/hero-img.jpg); */
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}